emdcbackend/.env
*.pyc 
/notes
venv/

# env files
.env
.env.local
.env.development
!.env.docker.example

# env files 
emdcbackend/.env
emdcbackend/.env.local
emdcbackend/.local.env
# env files
.env
.env.local
.local.env

