DEBUG=1
POSTGRES_DB=emdc
POSTGRES_USER=postgres
POSTGRES_PASSWORD=changeme
POSTGRES_HOST=127.0.0.1
POSTGRES_PORT=5433
ALLOWED_HOSTS=127.0.0.1,localhost


DJANGO_SECRET_KEY = " '

RESEND_API_KEY=" check handover documentation"
DEFAULT_FROM_EMAIL=EMDC Contest <noreply@emdcresults.com>
#FRONTEND_BASE_URL=http://localhost:5173/
FRONTEND_BASE_URL=http://localhost:7001/


DEBUG=1
ALLOWED_HOSTS=localhost,127.0.0.1
