POSTGRES_DB=postgres
POSTGRES_USER=
POSTGRES_PASSWORD=     
POSTGRES_HOST=
POSTGRES_PORT=5432

DATABASE_URL=""

DJANGO_SECRET_KEY = ""

RESEND_API_KEY=""
DEFAULT_FROM_EMAIL=EMDC Contest <noreply@emdcresults.com>
#FRONTEND_BASE_URL=http://localhost:5173/
#FRONTEND_BASE_URL=http://localhost:7001/
FRONTEND_BASE_URL=https://emdcresults.com

# Production Django settings
DEBUG=0
ALLOWED_HOSTS=localhost,127.0.0.1,emdcresults.com, emdc-backend.onrender.com

# Cookie/security overrides 
SESSION_COOKIE_SECURE=True
CSRF_COOKIE_SECURE=True
